<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Зелёный ящик</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>
    <body>

        <header th:insert="blocks/header :: header"></header>

        <main>

            <!-- Слайдер -->
            <h1 class="m-5 text-center">Наши клиенты</h1>
            <div class="carousel slide m-5" data-ride="carousel" id="blogCarousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#blogCarousel" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#blogCarousel" data-bs-slide-to="1"></li>
                    <li data-bs-target="#blogCarousel" data-bs-slide-to="2"></li>
                </ol>
                <div class="container carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="#">
                                    <img class="w-100" src="https://img.freepik.com/premium-photo/pile-of-a-lot-papers-documents-on-desk-office-stack-up_101448-656.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="#">
                                    <img class="w-100" src="https://www.meme-arsenal.com/memes/5b17b62514aa2e37817a20e5e7e716bb.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="#">
                                    <img class="w-100" src="https://qna.center/storage/photos/grande36/106837.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- О нас -->
            <div class="container my-5">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <img class="w-100" src="https://img.freepik.com/premium-photo/doctor-pointing-finger-at-mobile-screen-recommend-download-checkup_98588-646.jpg" alt="">
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <h2 class="my-3">О нас</h2>
                        <p>Мы те, кто упрощают жизнь людей и позволяют больше не гадать, когда и какое средство вы принимали утром, после еды
                        или какой курс витаминов вы принимали месяц назад. Теперь, когда врач спросит, были ли какие-либо проблемы со здоровьем,
                        может что-то болело или что принимали последнее время, вы спокойно сможете заглянуть в свой Зелёный ящик и вспомнить.</p>
                    </div>
                </div>

                <!-- Блок с иконками -->
                <h2 class="text-center my-5">Способы применения</h2>
                <div class="row gy-5">
                    <div class="col-md-4 col-sm-6 text-center">
                        <h4>Записи</h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-capsule-pill" viewBox="0 0 16 16">
                            <path d="M11.02 5.364a3 3 0 0 0-4.242-4.243L1.121 6.778a3 3 0 1 0 4.243 4.243l5.657-5.657Zm-6.413-.657 2.878-2.879a2 2 0 1 1 2.829 2.829L7.435 7.536 4.607 4.707ZM12 8a4 4 0 1 1 0 8 4 4 0 0 1 0-8Zm-.5 1.042a3 3 0 0 0 0 5.917V9.042Zm1 5.917a3 3 0 0 0 0-5.917v5.917Z"/>
                        </svg>
                        <p>Записывайте, когда и во сколько вы приняли те или иные лекарства и, когда придёте к врачу, можно будет показать все лекарства, которые вы принимали.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 text-center">
                        <h4>Режим</h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                            <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                            <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                        </svg>
                        <p>Вы не забудете, принимали вы сегодня лекарства или нет потому что после каждого приёма вы будете делать записи и, если надо будет вспомнить, вы просто откроете свой зелёный ящик.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 text-center">
                        <h4>Хронология</h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-virus" viewBox="0 0 16 16">
                            <path d="M8 0a1 1 0 0 1 1 1v1.402c0 .511.677.693.933.25l.7-1.214a1 1 0 0 1 1.733 1l-.701 1.214c-.256.443.24.939.683.683l1.214-.701a1 1 0 0 1 1 1.732l-1.214.701c-.443.256-.262.933.25.933H15a1 1 0 1 1 0 2h-1.402c-.512 0-.693.677-.25.933l1.214.701a1 1 0 1 1-1 1.732l-1.214-.7c-.443-.257-.939.24-.683.682l.701 1.214a1 1 0 1 1-1.732 1l-.701-1.214c-.256-.443-.933-.262-.933.25V15a1 1 0 1 1-2 0v-1.402c0-.512-.677-.693-.933-.25l-.701 1.214a1 1 0 0 1-1.732-1l.7-1.214c.257-.443-.24-.939-.682-.683l-1.214.701a1 1 0 1 1-1-1.732l1.214-.701c.443-.256.261-.933-.25-.933H1a1 1 0 1 1 0-2h1.402c.511 0 .693-.677.25-.933l-1.214-.701a1 1 0 1 1 1-1.732l1.214.701c.443.256.939-.24.683-.683l-.701-1.214a1 1 0 0 1 1.732-1l.701 1.214c.256.443.933.261.933-.25V1a1 1 0 0 1 1-1Zm2 5a1 1 0 1 0-2 0 1 1 0 0 0 2 0ZM6 7a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm1 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm5-3a1 1 0 1 0-2 0 1 1 0 0 0 2 0Z"/>
                        </svg>
                        <p>Если вы себя плохо чувствуете или у вас проявляется какой-либо необычный для вашего организма симптом болезни, то это тоже можно записать и при обследовании врачи смогут поставить более точный диагноз.</p>
                    </div>
                </div>
            </div>
        </main>

        <div th:insert="blocks/footer :: footer"></div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
</html>