<div th:fragment="footer">
    <footer class="text-center pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-md">
                <h5>Что то тут</h5>
                <ul class="list-unstyled text-small">
                    <li><a href="" class="link-secondary">Bloggg</a></li>
                    <li><a href="" class="link-secondary">Bloggg</a></li>
                    <li><a href="" class="link-secondary">Bloggg</a></li>
                    <li><a href="" class="link-secondary">Bloggg</a></li>
                    <li><a href="" class="link-secondary">Bloggg</a></li>
                    <li><a href="" class="link-secondary">Bloggg</a></li>
                </ul>
            </div>
            <div class="col-md">
                <h5>Что то тут</h5>
                <ul class="list-unstyled text-small">
                    <li><a href="" class="link-secondary">Bloggg</a></li>
                    <li><a href="" class="link-secondary">Bloggg</a></li>
                    <li><a href="" class="link-secondary">Bloggg</a></li>
                    <li><a href="" class="link-secondary">Bloggg</a></li>
                    <li><a href="" class="link-secondary">Bloggg</a></li>
                    <li><a href="" class="link-secondary">Bloggg</a></li>
                </ul>
            </div>
            <div class="col-md">
                <h5>Что то тут</h5>
                <ul class="list-unstyled text-small">
                    <li><a href="" class="link-secondary">Bloggg</a></li>
                    <li><a href="" class="link-secondary">Bloggg</a></li>
                    <li><a href="" class="link-secondary">Bloggg</a></li>
                    <li><a href="" class="link-secondary">Bloggg</a></li>
                    <li><a href="" class="link-secondary">Bloggg</a></li>
                    <li><a href="" class="link-secondary">Bloggg</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>